@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.nav-toggle {
  position: relative;
  z-index: 51;
  display: none;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #000;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  background: #000;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.testimonial .swiper-button-prev::after,
.testimonial .swiper-button-next::after {
  color: #fff;
  font-size: 40px;
}

.testimonial .swiper-button-prev::after:focus,
.testimonial .swiper-button-next::after:focus {
  outline: none;
}

.testimonial .swiper-button-prev:focus,
.testimonial .swiper-button-next:focus {
  outline: none;
}

.testimonial .swiper-slide-active {
  opacity: 1 !important;
}

.header {
  padding-top: 15px;
  position: absolute;
  width: 100%;
}

.header.fixed {
  width: 100%;
  padding-bottom: 15px;
  background: #26a57c;
  position: fixed;
  left: 50%;
  top: 0;
  right: 0;
  z-index: 50;
  -webkit-box-shadow: 10px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 10px 0 rgba(0, 0, 0, 0.7);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: none;
}

.header__logo .logo img {
  max-width: 100%;
  width: 200px;
  height: 100px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-list__link {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.header-menu-list__link_logo:after {
  display: none !important;
}

.header-menu-list__link:after {
  content: " ";
  display: block;
  width: 0px;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header-menu-list__link:hover:after {
  width: 100%;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.slider-intro__slide {
  min-height: 100vh;
}

.slider-intro__bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.about__item {
  padding: 100px 60px;
}

.about__item_second {
  background: #f2efe5;
}

.item-about__iccon {
  text-align: center;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item-about__iccon.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.item-about__text {
  font-size: 18px;
  color: #000000;
  margin: 30px 0;
  text-align: center;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item-about__text.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.item-about__suptext {
  font-size: 16px;
  color: #000000;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.item-about__suptext.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery__row.active .gallery__img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.gallery__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.6667%;
  flex: 0 1 16.6667%;
  position: relative;
  padding-bottom: 20%;
}

.gallery__column:hover:after {
  opacity: 1;
  visibility: visible;
}

.gallery__column:hover .gallery__hover {
  opacity: 1;
  visibility: visible;
}

.gallery__column::after {
  content: " ";
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background: rgba(213, 209, 192, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.gallery__img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.gallery__hover {
  position: relative;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.hover-gallery {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hover-gallery__row {
  text-align: center;
}

.hover-gallery__img svg {
  width: 25px;
  height: 25px;
  fill: #000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.hover-gallery__img svg:hover {
  fill: #fff;
}

.hover-gallery__social {
  margin-top: 30px;
}

.social-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-gallery__item + .social-gallery__item {
  margin-left: 35px;
}

.social-gallery__item svg {
  width: 25px;
  height: 25px;
  fill: #000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.social-gallery__item svg:hover {
  fill: #fff;
}

.no-webp .testimonial {
  background: url("../img/testimonial/testimonial-bg.png") no-repeat; }

.testimonial {
  padding: 120px 0 50px;
  background-size: cover;
}

.testimonial__slide {
  position: relative;
  text-align: center;
  padding: 0 295px;
}

.slide-testimonial__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.slide-testimonial__text {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-style: italic;
}

.slide-testimonial__text span:last-child {
  display: inline-block;
  -webkit-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}

.slide-testimonial__author {
  margin-top: 65px;
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  position: relative;
  padding: 100px 40px;
}

.team__column_b {
  background: #ccc8b6;
}

.team__column_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f2efe5;
}

.item-team-btn {
  position: relative;
  top: 100%;
  z-index: 5;
}

.item-team__img {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-team_l {
  min-width: 300px;
}

.item-team__suptitle {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.item-team__suptext {
  text-transform: uppercase;
  font-size: 12px;
  color: #000000;
}

.item-team__suptext p {
  margin: 0;
}

.content-team__title {
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.content-team__text {
  margin: 45px 0;
  font-size: 14px;
  color: #000000;
  font-family: 'OpenSans-Regular';
}

.content-team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-team__item + .content-team__item {
  margin-left: 35px;
}

.content-team__iccon {
  width: 30px;
  height: 30px;
  fill: #000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.content-team__iccon:hover {
  fill: #fff;
}

.form-team {
  margin-top: 30px;
}

.form-team__email {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-team__email .input {
  width: 100%;
  border: 1px solid #000;
  height: 39px;
  color: #c0bdb6;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  padding-left: 20px;
}

.form-team__email .input.error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.form-team__email .input:focus {
  -webkit-box-shadow: 0 0 15px #7a956b;
  box-shadow: 0 0 15px #7a956b;
  outline: none;
}

.form-team__email .input::-webkit-input-placeholder {
  color: #c0bdb6;
}

.form-team__email .input::-moz-placeholder {
  color: #c0bdb6;
}

.form-team__email .input:-ms-input-placeholder {
  color: #c0bdb6;
}

.form-team__email .input::-ms-input-placeholder {
  color: #c0bdb6;
}

.form-team__email .input::placeholder {
  color: #c0bdb6;
}

.form-team__btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-team__btn .btn {
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 39px;
  border: 0;
  background: #9a977a;
  cursor: pointer;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.form-team__btn .btn:hover {
  background: #000;
  color: #9a977a;
}

.form-team__btn .btn:focus {
  outline: none;
}

.no-webp .twitter {
  background: url("../img/twitter/twitterbg.png") no-repeat; }

.twitter {
  padding: 75px 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.twitter__column {
  max-width: 900px;
  margin: 0 auto;
}

.twitter__img {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.twitter__iccon {
  width: 25px;
  height: 25px;
  fill: #ccc8b6;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.twitter__iccon:hover {
  fill: #9a977a;
}

.twitter__text {
  font-size: 22px;
  color: #f2efe5;
  font-weight: 700;
  font-style: italic;
  line-height: 22px;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.works__inner.active .works__img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.works__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  position: relative;
}

.works__column_b {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 1 40% !important;
  flex: 0 1 40% !important;
  background: #afac9c;
  padding: 95px 0;
}

.works__column_b:after {
  display: none;
}

.works__column_p {
  padding-bottom: 20%;
}

.works__column:hover:after {
  opacity: 1;
  visibility: visible;
}

.works__column:hover .works__hover {
  opacity: 1;
  visibility: visible;
}

.works__column::after {
  content: " ";
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background: rgba(180, 178, 160, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.works-team-btn {
  position: relative;
  z-index: 5;
}

.works-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.works__hover {
  position: relative;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.hover-works {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hover-works__row {
  text-align: center;
}

.hover-works__img svg {
  width: 25px;
  height: 25px;
  fill: #000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.hover-works__img svg:hover {
  fill: #fff;
}

.hover-works__social {
  margin-top: 30px;
}

.social-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-works__item + .social-works__item {
  margin-left: 35px;
}

.social-works__item svg {
  width: 35px;
  height: 35px;
  fill: #000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.social-works__item svg:hover {
  fill: #fff;
}

.contacts {
  padding: 80px 0;
  background: #e7e5d0;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -45px;
}

.contacts__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 45px;
}

.contacts__btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacts__btn_m {
  max-width: 350px !important;
  margin: 0 auto;
}

.contacts__btn .btn {
  width: 100%;
  font-size: 14px;
  max-width: 375px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  font-weight: 700;
  border: 0;
  background: #9a977a;
  cursor: pointer;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.contacts__btn .btn:hover {
  background: #000;
  color: #9a977a;
}

.contacts__btn .btn:focus {
  outline: none;
}

.contacts__text {
  margin: 55px 0;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 45px;
}

.contacts__input .input {
  width: 100%;
  border: 1px solid #000;
  height: 50px;
  color: #c0bdb6;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  padding-left: 20px;
}

.contacts__input .input.error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.contacts__input .input:focus {
  -webkit-box-shadow: 0 0 15px #7a956b;
  box-shadow: 0 0 15px #7a956b;
  outline: none;
}

.contacts__input .input::-webkit-input-placeholder {
  color: #c0bdb6;
}

.contacts__input .input::-moz-placeholder {
  color: #c0bdb6;
}

.contacts__input .input:-ms-input-placeholder {
  color: #c0bdb6;
}

.contacts__input .input::-ms-input-placeholder {
  color: #c0bdb6;
}

.contacts__input .input::placeholder {
  color: #c0bdb6;
}

.contacts__textarea {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 35px;
}

.contacts__textarea .textarea {
  width: 100%;
  padding-top: 15px;
  border: 1px solid #000;
  height: 50px;
  color: #c0bdb6;
  font-size: 14px;
  padding-right: 20px;
  overflow: hidden;
  text-transform: uppercase;
  background: transparent;
  padding-left: 20px;
  padding-bottom: 175px;
}

.contacts__textarea .textarea:focus {
  outline: none;
}

.contacts__textarea .textarea::-webkit-input-placeholder {
  color: #c0bdb6;
}

.contacts__textarea .textarea::-moz-placeholder {
  color: #c0bdb6;
}

.contacts__textarea .textarea:-ms-input-placeholder {
  color: #c0bdb6;
}

.contacts__textarea .textarea::-ms-input-placeholder {
  color: #c0bdb6;
}

.contacts__textarea .textarea::placeholder {
  color: #c0bdb6;
}

.content-contacts__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.content-contacts__item + .content-contacts__item {
  margin-left: 30px;
}

.content-contacts__item address {
  font-style: normal;
}

.content-contacts__title {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content-contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-contacts__block_t {
  text-transform: uppercase;
}

.block-contacts {
  font-size: 16px;
  color: #000000;
}

.block-contacts a:hover {
  text-decoration: underline;
}

.block-contacts + .block-contacts {
  margin-top: 5px;
}

.block-contacts__item_t {
  text-transform: uppercase;
}

.block-contacts__supitem {
  font-weight: 700;
  color: #000000;
  margin-left: 4px;
  font-style: normal;
}

.block-contacts__supitem_m {
  text-transform: normal;
}

.social-contacts {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-contacts__item + .social-contacts__item {
  margin-left: 40px;
}

.social-contacts__iccon {
  width: 30px;
  height: 30px;
  fill: #000;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.social-contacts__iccon:hover {
  fill: #3ac9e8;
}

.maps {
  width: 100%;
  height: 400px;
}

.footer {
  padding: 75px 0;
  background: #aeaeae;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-menu-list__item + .footer-menu-list__item {
  margin-left: 30px;
}

.footer-menu-list__item:nth-child(4) {
  margin-left: 50px;
  margin-right: 50px;
}

.footer-menu-list__item:nth-child(5) {
  margin-left: 0;
}

.footer-menu-list__link {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.footer-menu-list__link_logo:after {
  display: none !important;
}

.footer-menu-list__link:after {
  content: " ";
  display: block;
  width: 0px;
  height: 3px;
  background: #000000;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.footer-menu-list__link:hover:after {
  width: 100%;
}

.footer__copy {
  margin-top: 75px;
  text-align: center;
  font-size: 12px;
  color: #000000;
  font-family: "OpenSans-Regular";
}

.block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-item-btn {
  position: relative;
  z-index: 5;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  color: green;
}

.block-item-btn.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.block-item-btn__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  height: 80px;
  border: 5px solid #000000;
  background: transparent;
  padding: 0 35px;
  color: #000000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.block-item-btn__button:hover {
  background: #000000;
  color: #fff;
}

.block-item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Times New Roman', Georgia;
  color: #000000;
  font-size: 16px;
  margin: 0;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

@media (min-width: 576px) {
  .block-item-btn__button {
    min-width: 275px;
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 15;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 30px;
  }

  .header-menu-list__item:nth-child(4) {
    margin-left: 50px;
    margin-right: 50px;
  }

  .header-menu-list__item:nth-child(5) {
    margin-left: 0;
  }
}

@media (min-width: 1306px) {
  .item-team-btn {
    top: 0;
  }
}

@media (max-width: 1305px) {
  .team__column_p {
    padding-bottom: 35%;
  }

  .team__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (max-width: 1200px) {
  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .content-contacts__item + .content-contacts__item {
    margin-left: 0;
    margin-top: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .content-contacts__title {
    text-align: center;
  }

  .content-contacts__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 990px) {
  .about__item {
    padding: 25px 40px;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding-bottom: 30%;
  }

  .testimonial__slide {
    padding: 0 200px;
  }

  .works__column_b {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 33.333% !important;
    flex: 0 1 33.333% !important;
  }

  .works__column_m {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 33.333% !important;
    flex: 0 1 33.333% !important;
  }

  .works__column_p {
    padding-bottom: 25%;
  }

  .works__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  .contacts__btn_c {
    font-size: 27px !important;
    height: 70px;
  }
}

@media (max-width: 870px) {
  .team__column_p {
    padding-bottom: 35% !important;
  }

  .team__column {
    padding: 100px 20px;
  }
}

@media (max-width: 850px) {
  .testimonial {
    padding: 90px 0 50px;
  }
}

@media (max-width: 830px) {
  .works__column_b {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }

  .works__column_m {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }

  .works__column_d {
    display: none;
  }
}

@media (max-width: 800px) {
  .team__column {
    padding: 100px 14px;
  }
}

@media (max-width: 767px) {
  .nav-toggle {
    display: block;
  }

  .header.fixed {
    left: 0;
  }

  .header__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo {
    display: block;
    position: relative;
    z-index: 55;
  }

  .header-menu {
    background-color: rgba(28, 36, 42, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding: 155px 0 20px 15px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }

  .header-menu:after {
    content: " ";
    background: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 51;
  }

  .header-menu.active {
    opacity: 1;
    visibility: visible;
  }

  .header-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-top: 15px;
  }

  .header-menu-list__item_logo {
    display: none;
  }

  .header-menu-list__link {
    font-size: 23px;
    color: #26a57c;
  }

  .about__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .about__item_f {
    padding: 100px 60px;
  }

  .item-about__text {
    margin: 15px 0;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding-bottom: 50%;
  }

  .testimonial {
    padding: 90px 0 25px;
  }

  .testimonial__slide {
    padding: 0 80px;
  }

  .slide-testimonial__author {
    margin-top: 25px;
  }

  .team__column_m {
    padding-bottom: 85% !important;
  }

  .team__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding: 50px 14px;
  }

  .content-team__text {
    margin: 25px 0;
  }

  .twitter {
    padding: 35px 0;
  }

  .works__column_p {
    padding-bottom: 30%;
  }

  .works__column_p:last-child {
    display: none;
  }

  .works__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }

  .contacts {
    padding: 40px 0;
  }

  .contacts__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contacts__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .contacts__column:last-child {
    margin-top: 25px;
  }

  .contacts__text {
    margin: 25px 0;
  }

  .contacts__input {
    margin-bottom: 20px;
  }

  .contacts__textarea {
    margin-bottom: 20px;
  }

  .social-contacts {
    margin-top: 25px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-menu-list__item + .footer-menu-list__item {
    margin-left: 0;
    margin-top: 15px;
  }

  .footer-menu-list__item:nth-child(4) {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-menu-list__link {
    font-size: 21px;
  }

  .footer__copy {
    margin-top: 35px;
    font-size: 15px;
    border-top: 3px solid #000;
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  .testimonial .swiper-button-prev {
    left: 50%;
    top: 15%;
    -webkit-transform: rotate(90deg) translate(-50%, 0);
    -ms-transform: rotate(90deg) translate(-50%, 0);
    transform: rotate(90deg) translate(-50%, 0);
  }

  .testimonial .swiper-button-next {
    right: 50%;
    top: 90%;
    -webkit-transform: rotate(90deg) translate(0, -50%);
    -ms-transform: rotate(90deg) translate(0, -50%);
    transform: rotate(90deg) translate(0, -50%);
  }

  .header__logo .logo img {
    width: 130px;
    height: 70px;
  }

  .header-menu {
    padding: 135px 0 20px 15px;
  }

  .header-menu:after {
    height: 104px;
  }

  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding-bottom: 50%;
  }

  .testimonial {
    padding: 70px 0 70px;
  }

  .testimonial__slide {
    padding: 0 15px;
  }

  .slide-testimonial__author {
    margin-top: 25px;
  }

  .team__column {
    padding: 25px 14px;
  }

  .form-team__email .input {
    max-width: 260px !important;
  }

  .form-team__btn .btn {
    max-width: 260px !important;
  }

  .twitter__img {
    margin-bottom: 10px;
  }

  .twitter__text {
    line-height: 27px;
  }

  .works__column_b {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 100% !important;
    flex: 0 1 100% !important;
    padding: 45px 0;
  }

  .works__column_m {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 100% !important;
    flex: 0 1 100% !important;
    padding-bottom: 65%;
  }

  .works__column_p {
    padding-bottom: 45%;
  }

  .works__column_p:last-child {
    display: block;
  }

  .works__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .social-works__item + .social-works__item {
    margin-left: 25px;
  }

  .social-works__item svg {
    width: 25px;
    height: 25px;
  }

  .contacts__btn_c {
    font-size: 23px !important;
    height: 54px;
  }

  .contacts__text {
    margin: 15px 0;
  }

  .content-contacts__title {
    margin-bottom: 10px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__copy {
    margin-top: 15px;
  }

  .block-item-btn__button {
    font-size: 29px;
    height: 65px;
  }
}

@media (max-width: 455px) {
  .item-team-btn {
    top: 50%;
  }
}

@media (max-width: 420px) {
  .about__item_second {
    padding: 25px 15px;
  }

  .block-item-btn__button {
    font-size: 23px;
  }
}

@media (max-width: 415px) {
  .content-team__item + .content-team__item {
    margin-left: 25px;
  }

  .content-team__iccon {
    width: 25px;
    height: 25px;
  }

  .social-contacts__item + .social-contacts__item {
    margin-left: 25px;
  }

  .social-contacts__iccon {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 365px) {
  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding-bottom: 90%;
  }
}

.webp .testimonial { background: url(../img/testimonial/testimonial-bg.webp) no-repeat; }

.webp .twitter { background: url(../img/twitter/twitterbg.webp) no-repeat; }